@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Permanent+Marker&display=swap');

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Domine', serif;
}

video{ 
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	transform: translateX(-50%) translateY(-65%);
	background-size: cover;
	transition: 1s opacity;
	opacity: 0.9;
}