#bloc
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.log_wrapper
{
	background:white;
	max-width: 390px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
	padding: 30px;
	border-radius : 5px;
	overflow: hidden;
	margin-top : 25px;
}

.log_wrapper .title-texte
{
	display: flex;
	width: 200%;
}

.log_wrapper .title-texte .title
{
	width: 50%;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	transition : all 0.5s ease;
}

.log_wrapper .form-container
{
	width: 100%;
	overflow: hidden;
}

.form-container .slide-controls
{
	display: flex;
	height: 50px;
	width: 100%;
	overflow: hidden;
	border-radius : 5px;
	margin-top : 20px;
	justify-content: space-between;
	border : 1px solid lightgrey;
	position: relative;
}

.slide-controls .slide
{
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 48px;
	cursor :pointer;
	z-index: 1;
	color:white;
}

.slide-controls .signup
{
	color:black;
}

.slide-controls .slide-tab
{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	z-index: 0;
	background: #4B77BE;
	border-radius : 5px;
	transition : all 0.5s ease;
}

input[type="radio"]
{
	display: none;
}

#signup:checked ~ .slide-tab
{
	left: 50%;
}

#signup:checked ~ .signup
{
	color:white;
}

#signup:checked ~ .login
{
	color:black;
}

.form-container .form-inner form
{
	width: 50%;
	transition : all 0.5s ease;
}

.form-inner
{
	display: flex;
	width: 200%;
}

.form-inner form .field
{
	height: 50px;
	width: 100%;
	margin-top: 20px;
}

.form-inner form .field input
{
	height: 100%;
	width: 100%;
	outline : none;
	padding-left: 15px;
	font-size: 17px;
	border-radius :5px;
	border : 1px solid lightgrey;
	transition: all 0.4s ease;
}

form .field input:focus
{
	border-color : #4B77BE;
}

.pass-link
{
	margin-top: 5px;
	text-align: left;
}

form a
{
	color : #fa4299;
	text-decoration: none;
}

form a:hover
{
	text-decoration: underline;
}

form .field input[type = "submit"]
{
	background: #317589;
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding-left: 0;
	cursor: pointer;
	text-decoration : line-through;
}

form .field input[type = "submit"]:hover
{
	background: #48929B;
}

.signup-link
{
	text-align: center;
	margin-top: 30px;
}